<h1>Add Post!</h1>
<% if @post.errors.any? %>
<h4><%= pluralize(@post.errors.count, "error") %> prohibited this book from being saved:</h4>

    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
<% end %>
 <%= @message%>
<div class= "container jumbotron">
    <%= form_for :post,url: posts_path do |f| %>
        <p>
            <%= f.label :title %>
            <%= f.text_field(:title, {:class=>'form-control'}) %>
        </p>
        <p>
           <%= f.label :body %>
           <%= f.text_area(:body, {:class=> 'form-control'}) %>   
        </p>
        <%= f.submit({:class => 'btn btn-primary'})%>
    <% end %> 
</div>
<p>
<div class="container">
     <div class="btn btn-success text-white"> <%= link_to "Add a post", new_post_path %> </div>
     <div class="btn btn-secondary"><%= link_to "Main page", @post %></div>
</div>
