<%= "here is my messag #{@message}" %>
<h1 class="btn-primary">

<%= @post.title %></h1>
<p><%= @post.body %></p>
<div class="container">
     <div class="btn btn-success text-white"> <%= link_to "Add a post", new_post_path %> </div>
     <div class="btn btn-secondary"><%= link_to "Main page", @post %></div>
</div>